attrs
backcall
bleach
certifi
chardet
colorama
comtypes
cycler
Cython
decorator
defusedxml
docutils
entrypoints
fuzzywuzzy
idna
imutils
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lockfile
MarkupSafe
matplotlib
mistune
MouseInfo
nbconvert
nbformat
notebook
numpy
opencv-contrib-python
opencv-python
pandas
pandocfilters
parso
patsy
pickleshare
Pillow
pmdarima
prometheus-client
prompt-toolkit
psutil
PyAutoGUI
PyGetWindow
PyGObject
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
pyrsistent
PyScreeze
pytesseract
python-daemon
python-dateutil
python-dotenv
PyTweening
pytz
pyzmq
qtconsole
requests
scikit-learn
scipy
seaborn
Send2Trash
six
statsmodels
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
xlrd
